#header {
    .hero-heading {
        letter-spacing: 0.1em;
    }
}

#tables {
    .cart-item-img {
        max-width: 80px;
    }

    .cart-header {
        letter-spacing: 0.2em;
        padding: 1.2rem 2rem;
        background: #f8f9fa;
    }

    .cart-body {
        padding: 0 2rem;
    }

    .input-items {
        min-width: 40px;
    }

    .form-control:focus {
        box-shadow: none !important;
        border-color: #000 !important;
    }

    .last {
        .btn {
            font-size: 0.6875rem !important;
            letter-spacing: 0.3em !important;
            padding: 0.7rem 0.75rem !important;
        }

        .btn-link {
            &:hover {
                text-decoration: underline !important;
            }
        }
    }
}

#ordersummary {
    .p-15 {
        padding: 1.2rem 1.5rem;
    }

    .total {
        font-size: 1.2em;
    }
}
