#swiper {
    .swiper-button-prev,
    .swiper-button-next {
        color: #fff !important;
    }

    .py-6 {
        padding-top: 6rem !important;
        padding-bottom: 6rem !important;
    }
}

#pick {
    .py-6 {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .tile-link {
        z-index: 30;
    }

    .opacity-3 {
        opacity: 0.3;
    }

    @media (max-width: 991px) {
        .h-462 {
            height: 462px !important;
        }
    }
}

#favourites {
    .borbsize {
        border-bottom-width: 2px !important;
    }

    .ribbon {
        position: absolute;
        top: 10px;
        left: -11px;
        z-index: 999;
        display: inline-block;
        font-size: 0.8rem;
        letter-spacing: 0.3em;
        padding: 3px 15px 5px;
        color: #fff;
        text-align: center;

        &::before {
            content: '';
            border-left: 12px solid transparent;
            border-right: 0 solid transparent;
            border-top: 14px solid #a4001f;
            position: absolute;
            bottom: -14px;
            left: 0;
        }
    }

    .product-hover-overlay {
        background-color: rgba(255, 255, 255, 0.92);
        border-bottom: 2px solid #3494e6;
        transition: all 0.3s ease-in-out;

        &:hover {
            transition: all 0.3s ease-in-out;
            opacity: 1 !important;
        }
    }
}

#journal {
    .text-gray-500 {
        color: #adb5bd !important;
    }

    .text-gray-700 {
        color: #495057 !important;
    }
}

#sales {
    &.light-overlay::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: ' ';
        opacity: 0.3;
        background: #fff;
    }

    &.py-6 {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .text-serif {
        font-family: 'Playfair Display', serif !important;
    }

    .overlay-content {
        z-index: 30;
    }

    .letter-spacing-5 {
        letter-spacing: 0.5em !important;
    }
}

#ourbrends {
    .w-6rem {
        width: 6rem !important;
    }
}
